pytest==8.2.2
flake8==7.1.0
black==24.4.2
fastapi[all]==0.111.0
pydantic==2.7.4
pylint==3.2.3
psycopg2==2.9.9
sqlalchemy==2.0.30
asyncpg==0.29.0
anyio==4.4.0
asyncmock==0.4.2
asyncio==3.4.3
trio==0.25.1
pytest-asyncio==0.23.7
pytest-cov==5.0.0
requests==2.32.3
apscheduler==3.11.0
sh==2.1.0
google-api-python-client==2.156.0